<div class="center jumbotron">
  <h1>電子版お薬手帳サイト</h1>

  <h2>
    このページは
    <a href="https://ja.wikipedia.org/wiki/%E3%81%8A%E8%96%AC%E6%89%8B%E5%B8%B3">お薬手帳</a>
    の電子化のために作成されました。
  </h2>

  <%= link_to "ユーザー登録をする", signup_path, class: "btn btn-lg btn-primary" %>
</div>
