<footer class="footer">
  <small>
    参考：<a href="https://ja.wikipedia.org/wiki/%E3%81%8A%E8%96%AC%E6%89%8B%E5%B8%B3">お薬手帳wikipedia</a>
    by <a href="http://www.sc.te.chiba-u.jp/research/uchiyama_j.html/">Yuki uchiyama</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>