<footer class="footer">
  <small>
    参考：<a href="https://ja.wikipedia.org/wiki/%E3%81%8A%E8%96%AC%E6%89%8B%E5%B8%B3">お薬手帳wikipedia</a>
    by <a href="http://www.sc.te.chiba-u.jp/research/uchiyama_j.html/">Yuki uchiyama</a>
  </small>
  <% if logged_in_ph? %>
    <nav>
      <ul>
        <li><%= link_to "マイページ", current_user_ph %></li>
      </ul>
    </nav>
  <% else %>
    <nav>
      <ul>
        <li><%= link_to "薬剤師の方はこちら", login_ph_path %></li>
      </ul>
    </nav>
  <% end %>
</footer>